html {
	cursor: url('Resources/h_cursor.png'), auto;
	overflow: hidden;
	scroll-behavior: smooth;
}
/* Div classes */
.split {
	width: 100%;
	position: fixed;
	z-index: -1;
	top: 0;
	padding-top: 85px;
	left: 0;
}
.top {
	top: 0;
	height: 20%;
	padding-top: 0px;
	border: 3px solid black;
}
.middle {
	top: 20%;
	height: 50%;
	padding-top: 0px;
	border: 3px solid black;
}
.bottom {
	top: 70%;
	height: 30%;
	padding-top: 0px;
	border: 3px solid black;
	overflow-x: scroll;
}
/* Main Bar */
.mainBar, .mainBarTd, .mainDisplay {
	border: 3px solid black;
	width: 100%;
	height: 100%;
	padding: 0;
    border-spacing: 0;
}
.mainBarTd {
	width: 10%;
	padding: 0;
}
.mainDisplay {
	width: 40%;
	text-align: center;
	font-family: var(--main-font);
	font-size: 40px;
	font-weight: var(--main-weight);
	color: black;
	margin: 0px;
	padding: 0px;
}
/* H button area */
#hButton{
	display: block;
	cursor: pointer;
	transition: all 0.2s;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	height: 256px;
	width: 256px;
}
#hButton:hover {
	height: 230px;
	width: 230px;
}
#hButton:active{
	height: 270px;
	width: 270px;
	cursor: pointer;
}
#clickDisplay {
	font-size: 40px;
}
.menuButton {
	border-radius: 10px;
	font-size: 40px;
	width: auto;
	height: 80px;
	color: var(--textcolour);
}
.menuTable, .menuTd {
	padding: 0;
    border-spacing: 0;
}
.menuTd {
	width: 100px;
	height: 0px;
}
.menuTable {
	table-layout: fixed;
	bottom: 0px;
	right: 0px;
	position: absolute;
}
/* H Shop */
button.bottomStripe {
	background-color: var(--bottom-colour);
	background-image: linear-gradient(to right, var(--second-lightest), var(--darkest-colour));
	background-repeat: no-repeat;
	background-size: 0% 100%;
}
button.bottomStripe:disabled:hover {
	background-color: var(--bottom-colour);
}
button.gradTwo {
	background-color: var(--bottom-colour);
	background-image: linear-gradient(to right, var(--second-lightest), var(--darkest-colour));
	background-repeat: no-repeat;
	background-size: 0% 100%;
}
button.gradTwo:disabled:hover {
	background-color: var(--bottom-colour);
}
.hShop, .hShoptd {
	border: 3px solid black;
	width: 100%;
	height: 100%;
	padding: 0;
    border-spacing: 0;
}
.hShopTd {
	width: 300px;
	padding: 0;
}
.hShop {
	table-layout: fixed;
	width: 0px;
}
.shopText {
	text-align: center;
	font-family: var(--main-font);
	font-size: 27px;
	font-weight: var(--main-weight);
	color: black;
	display: block;
}
@media (min-width: 1550px) {
	.headerText {
		font-size: 45px;
		margin: 16px;
	}
	.bodyText {
		font-size: 25px;
	}
}
@media (max-width: 1550px) {
	.headerText {
		font-size: 40px;
		margin: 16px;
	}
	.bodyText {
		font-size: 20px;
	}
}
@media (max-width: 1400px) {
	.headerText {
		font-size: 35px;
		margin: 16px;
	}
}
@media (max-width: 1250px) {
	.headerText {
		font-size: 30px;
		margin: 16px;
	}
	.bodyText {
		font-size: 15px;
	}
}
@media (max-width: 1111px) {
	.headerText {
		font-size: 25px;
		margin: 16px;
	}
	.bodyText {
		font-size: 12px;
	}
}
@media (max-width: 950px) {
	.headerText {
		font-size: 20px;
		margin: 16px;
	}
	.bodyText {
		font-size: 10px;
	}
}
@media (max-width: 800px) {
	.headerText {
		font-size: 15px;
		margin: 16px;
	}
	.bodyText {
		font-size: 8px;
	}
}
.tallButton {
	width: 100%;
	height: 100%;
	border: 3px solid black;
	border-spacing: 0;
	padding: 0;
	text-align: center;
	font-family: var(--main-font);
	font-size: 27px;
	font-weight: var(--main-weight);
	color: black;
	display: block;
}
.tallButton:hover {
	cursor: pointer;
}
.tallButton:disabled {
	opacity: 50%;
}
.tallButton:disabled:hover {
	cursor: url('Resources/h_cursor.png'), auto;
}
.smallButton {
	border: 3px solid black;
	border-spacing: 0;
	padding: 0;
	text-align: center;
	font-family: var(--main-font);
	font-weight: var(--main-weight);
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color:var(--middle-colour);
}
.round {
	border-radius: 15px;
	width: 150px;
	height: 150px;
	color:var(--textcolour);
}
@media (min-width: 1640px) {
	.round2 {
		border-radius: 10px;
		width: 100px;
		height: 100px;
		font-size: 20px;
		color:var(--textcolour);
	}
}
@media (max-width: 1640px) {
	.round2 {
		border-radius: 10px;
		width: 75px;
		height: 75px;
		font-size: 15px;
		color:var(--textcolour);
	}
}
@media (max-width: 1220px) {
	.round2 {
		border-radius: 10px;
		width: 50px;
		height: 50px;
		font-size: 10px;
		color:var(--textcolour);
	}
}
@media (max-width: 870px) {
	.round2 {
		border-radius: 10px;
		width: 40px;
		height: 40px;
		font-size: 8px;
		color:var(--textcolour);
	}
}
.smallButton:hover {
	background-color:var(--second-darkest);
	cursor: pointer;
}
.smallButton:disabled {
	background-color:var(--middle-colour);
	opacity: 50%;
}
.smallButton:disabled:hover {
	cursor: url('Resources/h_cursor.png'), auto;
}
/* H Business */
.hBusinessTable, .hBusinessTd {
	border: 3px solid black;
	padding: 0;
    border-spacing: 0;
}
.hBusinessTd {
	width: 350px;
	height: 0px;
}
.hBusinessTable {
	table-layout: fixed;
	width: 0px;
	bottom: 0px;
	position: absolute;
}
@media (min-height: 945px) {
	.hBusinessTable {
		height: 70%;
	}
}
@media (max-height: 945px) {
	.hBusinessTable {
		height: 65%;
	}
}
@media (max-height: 840px) {
	.hBusinessTable {
		height: 60%;
	}
}
@media (max-height: 720px) {
	.hBusinessTable {
		height: 55%;
	}
}
@media (max-height: 650px) {
	.hBusinessTable {
		height: 50%;
	}
}
#businessHeader {
	position: fixed;
	width: 50%;
	left: 25%;
}
/* Glod Shop */
.glodShop, .glodShoptd {
	border: 3px solid black;
	width: 100%;
	height: 100%;
	padding: 0;
    border-spacing: 0;
}
.glodShopTd {
	width: 5%;
	padding: 0;
}
.glodShop {
	table-layout: fixed;
	width: 0px;
}
.mouseOver {
	width: 500px;
	height: 86px;
	background-color: black;
	opacity: 75%;
	top: 0px;
	left: 0px;
	text-align: center;
	font-family: var(--main-font);
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	color: white;
	z-index: 14;
	transition: all 0s;
}
.glodShopTd span {
	display: none;
	z-index: 14;
}
.glodShopTd:hover span {
	display: block;
	position: fixed;
}
/* Options Menu */
.optionsTd {
	width: 5%;
	table-layout: fixed;
	padding: 0;
}
.optionsButton {
	border-radius: 10px;
	font-size: 30px;
	width: 250px;
	height: 100px;
	color:var(--textcolour);
}
@media (min-width: 1530px) {
	.optionsButton {
		width: 250px;
		height: 100px;
	}
}
@media (max-width: 1530px) {
	.optionsButton {
		width: 200px;
		height: 75px;
		font-size: 24px;
	}
} 
@media (max-width: 1230px) {
	.optionsButton {
		width: 150px;
		height: 65px;
		font-size: 17px;
	}
} 
@media (max-width: 900px) {
	.optionsButton {
		width: 100px;
		height: 50px;
		font-size: 12px;
	}
} 
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 8px;
  background: var(--textcolour);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--second-lightest);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--second-lightest);
  cursor: pointer;
}
/* Confirmation screen */
.confirmButton {
	border-radius: 0px;
	font-size: 30px;
	width: 100%;
	height: 25%;
	color: #000000;
	background-color: #ff614f;
	display: inline-block;
}
.denyButton {
	border-radius: 0px;
	font-size: 30px;
	width: 100%;
	height: 25%;
	color: #000000;
	background-color: #aeff6b;
	display: inline-block;
}
/* Shortcuts Menu */
.shortcutsTd {
	table-layout: fixed;
	width: 50%;
	padding: 0px;
	margin: 0px;
	border: 5px solid black;
}
.shortcutsTable {
	table-layout: fixed;
	width: 0px;
	height: 100%;
	top: 0px;
	position: absolute;
}
/* Popups */
#greyOut1, #greyOut2 {
	opacity: 50%;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	left: 0px;
	top: 0px;
}
#greyOut2 {
	z-index: 12;
}
#menuOverlay {
	background: #FF0000;
	background-image: conic-gradient(from 0deg at top left, #ff0000, #ff00b0);
	background-repeat: no-repeat;
	background-size: cover;
	width: 200%;
	height: 100%;
	position: absolute;
	z-index: 15;
	left: 0px;
	top: 0px;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-direction: forwards;
}
#menuText {
	position: absolute;
	transform: translate(-50%);
	left: 25%;
	font-size: 70px;
	font-size: 5vw;
	mix-blend-mode: darken;
}
#tutorialText {
	position: absolute;
	transform: translate(-50%);
	left: 75%;
	font-size: 60px;
	font-size: 3.5vw;
	mix-blend-mode: darken;
}

.playButton, .tutorialButton, .backButton {
	border-radius: 10px;
	font-size: 70px;
	font-size: 7vw;
	width: 12.5%;
	height: 25%;
	color: white;
	cursor: pointer;
	background-color: black;
	position: absolute;
	border: 0px solid black;
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: darken;
	filter: invert(0%) drop-shadow(8px 8px 7.5px black);
}
.playButton {
	left: 10%;
	bottom: 30%;
}
.tutorialButton {
	right: 60%;
	bottom: 30%;
}
.backButton {
	right: 13%;
	bottom: 10%;
	transform: translate(-50%);
}
.playButton:hover, .tutorialButton:hover, .backButton:hover {
	width: 10%;
	height: 20%;
	font-size: 50px;
	font-size: 5.75vw;
	filter: invert(100%) drop-shadow(2px 2px 7.5px black);
}
.playButton:hover {
	left: 11.25%;
	bottom: 32.5%;
}
.tutorialButton:hover {
	right: 61.25%;
	bottom: 32.5%;
}
.backButton:hover {
	right: 15.5%;
	bottom: 12.5%;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
#hBusiness {
	border: 5px solid black;
	border-radius: 15px;
	width: 50%;
	height: 70%;
	left: 25%;
	top: 15%;
	position: absolute;
	z-index: 11;
	overflow-x: scroll;
}
#hMachine {
	border: 5px solid black;
	border-radius: 15px;
	width: 50%;
	height: 75%;
	left: 25%;
	top: 12.5%;
	position: absolute;
	z-index: 11;
	overflow: auto;
}
#glodShop {
	border: 5px solid black;
	border-radius: 15px;
	width: 50%;
	height: 60%;
	left: 25%;
	top: 20%;
	position: absolute;
	z-index: 13;
	background-color: var(--second-lightest);
	overflow: auto;
}
#options {
	border: 5px solid black;
	border-radius: 15px;
	width: 50%;
	height: 75%;
	left: 25%;
	top: 12.5%;
	position: absolute;
	z-index: 11;
	background-color: var(--second-lightest);
	overflow: auto;
	overflow-x: hidden;
}
#shortcuts {
	border: 5px solid black;
	border-radius: 15px;
	width: 50%;
	height: 75%;
	left: 25%;
	top: 12.5%;
	position: absolute;
	z-index: 11;
	background-color: var(--second-lightest);
	overflow: auto;
}
#confirmation {
	border: 5px solid black;
	border-radius: 15px;
	width: 35%;
	height: 35%;
	left: 32.5%;
	top: 32.5%;
	position: absolute;
	z-index: 12;
	background-color: var(--second-lightest);
}
#darkMachine {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 14;
	overflow: auto;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.65, 0, 0.45, 1);
	background-color: var(--second-lightest);
	animation-direction: alternate;
}
#darkMachine > * {
	display: none;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes openPopup {
	0% {
		width: 0px;
		height: 0px;
		left: 50%;
		top: 50%;
		border-radius: 150px;
		overflow: hidden;
		background-color: var(--second-lightest);
	}
	100% {
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		border-radius: 0px;
		background-color: #151515;
	}
}
@keyframes pulse {
	0% {
		background-color: #151515;
	}
	100% {
		background-color: #202020;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
#offlinePopup {
	border: 5px solid black;
	border-radius: 15px;
	width: 50%;
	height: 75%;
	left: 25%;
	top: 12.5%;
	position: absolute;
	z-index: 11;
	background-color: var(--second-lightest);
}
#closeButton {
	right: 0;
	margin-right: 26%;
	margin-top: 20px;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	position: fixed;
	z-index: 14;
}
#statistics {
	border: 5px solid black;
	border-radius: 15px;
	width: 25%;
	height: 60%;
	left: 37.5%;
	top: 20%;
	position: absolute;
	z-index: 12;
	background-color: var(--second-lightest);
	overflow: auto;
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  height: 30px;
  width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	touch-action: manipulation;
	transition: all, 0.4s;
}