:root {
	--second-lightest: #ef3340; /* Middle stripe */
	--middle-colour: #00b5e2; /* Top */
	--bottom-colour: #509e2f; /* Bottom */
	--second-darkest: #33661e; /* Hover */
	--darkest-colour: #ffffff; /* Scrollbar and close button */
	--textcolour: #000000;
}
.top {
	background-color: var(--middle-colour);
}
.middle {
	background-color: var(--second-lightest);
}
.bottom {
	background-color: var(--bottom-colour);
}
.tallButton {
	background-color: var(--middle-colour);
}
.tallButton:hover {
	background-color: var(--second-darkest);
}
.tallButton:disabled:hover {
	background-color: var(--middle-colour);
}
#hBusiness {
	background-color: var(--second-lightest);

}
#hMachine {
	background-color: var(--second-lightest);
}
#closeButton {
	background-color: var(--darkest-colour);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darkest-colour);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second-darkest);
}
/*
.shopText {
	color: #d1d1d1;
}
.tallButton {
	color: #d1d1d1;
}
.mainDisplay {
	color: #d1d1d1;
}
*/