:root {
	--second-lightest: #FFEA00; /* Middle stripe */
	--middle-colour: #000000; /* Top */
	--bottom-colour: #000000; /* Bottom */
	--second-darkest: #FFFFFF; /* Hover */
	--darkest-colour: #FFFFFF; /* Scrollbar and close button */
	--textcolour: #FFFFFF;
}
.top {
	background-color: var(--middle-colour);
}
.middle {
	background-color: var(--second-lightest);
}
.bottom {
	background-color: var(--bottom-colour);
}
.tallButton {
	background-color: var(--middle-colour);
}
.tallButton:hover {
	background-color: var(--second-darkest);
}
.tallButton:disabled:hover {
	background-color: var(--middle-colour);
}
#hBusiness {
	background-color: var(--second-lightest);

}
#hMachine {
	background-color: var(--second-lightest);
}
#closeButton {
	background-color: var(--darkest-colour);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darkest-colour);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second-darkest);
}
.shopText {
	color: var(--textcolour);
}
.tallButton {
	color: var(--textcolour);
}
.mainDisplay {
	color: var(--textcolour);
}